.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    height:12rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal_form{
	    width: 40rem;
}
.navbar{
	margin-bottom: 0px !important;
}
/* This portion is for the overlay after the invoice upload */
#overlayHeader {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 999999999;
  cursor: pointer;
}

#textHeader{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 36px;
  color: white;
  text-align: center;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* Below Code is written for loader */
.loader {
  width: 168px;
  height: 24px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}
.loader .balls {
  filter: url(#goo);
}
.loader .balls .ball.moving {
  box-shadow: none;
}
.loader .ball {
  width: 24px;
  height: 24px;
  background-color: #4db9ff;
  position: absolute;
  border-radius: 12px;
  animation: 3s ease-in-out infinite;
}
.loader .ball:nth-child(1) {
  left: 0px;
  animation-name: scale1;
}
.loader .ball:nth-child(2) {
  left: 48px;
  animation-name: scale2;
}
.loader .ball:nth-child(3) {
  left: 96px;
  animation-name: scale3;
}
.loader .ball:nth-child(4) {
  left: 144px;
  animation-name: scale4;
}
.loader .ball.moving {
  animation: move 3s ease-in-out infinite;
  left: -12px;
  background-color: #50f2f5;
  box-shadow: 0 0 10px #50f2f5, 0 0 30px #50f2f5, 0 0 100px #50f2f5;
}
svg {
  display: none;
}
@keyframes move {
  50% {
    left: 156px;
  }
}
@keyframes scale1 {
  0%, 100% {
    transform: scale(1.1);
  }
  10%, 90% {
    transform: scale(1.2);
  }
  20%, 80% {
    transform: scale(1);
  }
}
@keyframes scale2 {
  20%, 80% {
    transform: scale(1.2);
  }
  10%, 30%, 70%, 90% {
    transform: scale(1);
  }
}
@keyframes scale3 {
  30%, 70% {
    transform: scale(1.2);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1);
  }
}
@keyframes scale4 {
  50% {
    transform: scale(1.1);
  }
  40%, 60% {
    transform: scale(1.2);
  }
  30%, 70% {
    transform: scale(1);
  }
}