/*CSS BOILER PLATE*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f3f3f3 !important;
    color: #fff !important;
    font-family: 'Arial',sans-serif !important;
    text-rendering: optimizeLegibility !important;
}
header label{
	color: #fff !important;
}
header hr{
	color: #fff !important;
}
/*BODY*/

header {
    height: 80px;
    background-color: #222533;
}

.dashboard-top {
    width: 95%;
    margin: auto;
}

.dashboard-top img {
    width: 15%;
    margin-top: 20px;
    float:left;
}

.dashboard-top input {
    height: 35px;
    width: 17%;
    margin-left: 25%;
    margin-top: 23px;
    padding-left: 1%;
}

#go {
    display: block;
    background-color: #004d6a;
    height: 35px;
    width:3%;
    margin-left: 57%;
    margin-top: -35px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#company {
    width: 400px;
    float: right;
    margin-top: -57px;
}

#company label {
    vertical-align: top;
    font-size: 10px;
    padding-right: 10px;
    
}

#company input {
    vertical-align: top;
}

.vertical-line {
    position: absolute;
    height: 51px;
    width: 2px;
    margin-top: -51px;
    margin-left: 100px;
    background-color: #c9c9c9;
}

#company_name {
    width: 175px;
    height: 30px;
    float: right;
    margin-top: -40px;
    margin-right: 105px;
    border: 1px solid #c4c4c5;
    background-color: #f3f3f3;
    background-image: url(../images/down-arrow.png);
    background-repeat:no-repeat;
    background-position: 150px center;
}

#change {
    width: 70px;
    height: 30px;
    margin-top: -40px;
    margin-right: 35px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 13px;
    background-color: #222533;
    border: 2px solid #fff;
    cursor: pointer;
	color:#fff;
}

#change {
    float: right;
}

.container {
    width: 95%;
    margin: auto;
    margin-bottom: 6%;
}

#top {
    margin-top: 18px;
}

#ship {
    width: 15%;
    float:left;
    text-align: center;
    color: black;
    font-size: 14px;
    border: 1px solid #9c9c9c;
    background-color: #dfdfdf;
}

#ship p {
    padding-top: 10px;
    cursor: pointer;
}

#ship img {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    background-color: #004d6a;
}

#plane {
    width: 15%;
    float:left;
    margin-left: 0.5%;
    text-align: center;
    color: black;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

#plane img {
    box-sizing: border-box;
    float: left;
    padding: 1px;
    background-color: #04afef;
}

#plane p {
    color: #a5a5a5;
    padding-top: 10px;
    cursor: pointer;
}

#welcome {
    float: right;
    margin-top: 15px;
}

#welcome p {
    display: inline-block;
    color: #767676;
    margin-top: -20px;
}

#welcome img {
   display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    cursor: pointer;
}

#username {
    display: inline;
    color: #5b5b5b;
}

.clearfix {
    clear:both;
}

.bar_one {
    width:95%;
}

#list {
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
}

#list li {
    list-style-type: none;
    display: inline-block;
    color: #797979;
    padding-right: 5%;
    cursor: pointer;
}

#recent_imports {
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
}

#recent_imports img {
    padding-left: 10px;
    padding-top: 10px;
    display: inline-block;
}

#recent_imports p {
    display: inline-block;
    color: #767676;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 15px;
}

#view {
    float:right;
    padding-right: 10px;
    cursor: pointer;
}

.bar_two {
    width: 95%;
    margin-top: 3%;
}

.table_one {
    width: 95%;
    height: 40px;
    margin-bottom: 3px;
    background-color: #fff;
}

#list_one  ul {
    margin-left: 10%;
}

#list_one li {
    list-style-type: none;
    display: inline-block;
    color: #767676;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 70px;
    padding-right: 5%;
}

#list_two li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 5%;
}

#list_two li:nth-child(1) {
    padding-left: 10px;
}

#list_two li:nth-child(2) {
    margin-left: 60px;
}

#list_two li:nth-child(3) {
    margin-left: 16px;
}

#list_two li:nth-child(4) {
    margin-left: 7px;
}

#list_two li:nth-child(5) {
    margin-left: -40px;
}

#list_two li:nth-child(6) {
    margin-left: -35px;
    color: #fff;
    background-color: #2ec1cc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 4px;
}

#list_two li:nth-child(7) {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #2ec1cc;
    margin-left: 100px;
}

#list_three li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 5%;
}

#list_three li:nth-child(1) {
    padding-left: 10px;
}

#list_three li:nth-child(2) {
    margin-left: 60px;
}

#list_three li:nth-child(3) {
    margin-left: 19px;
}

#list_three li:nth-child(4) {
    margin-left: 7px;
}

#list_three li:nth-child(5) {
    margin-left: -40px;
}

#list_three li:nth-child(6) {
    margin-left: -35px;
    color: #fff;
    background-color: #1c7ebb;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 45px;
    margin-top: 8px;
    border-radius: 4px;
}

#list_three li:nth-child(7) {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #1c7ebb;
    margin-left: 122px;
}

#list_four li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 5%;
}

#list_four li:nth-child(1) {
    padding-left: 10px;
}

#list_four li:nth-child(2) {
    margin-left: 60px;
}

#list_four li:nth-child(3) {
    margin-left: 15px;
}

#list_four li:nth-child(4) {
    margin-left: 7px;
}

#list_four li:nth-child(5) {
    margin-left: -40px;
}

#list_four li:nth-child(6) {
    margin-left: -35px;
    color: #fff;
    background-color: #23ae89;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 4px;
}

#list_four li:nth-child(7) {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #23ae89;
    margin-left: 122px;
}

#list_five li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 5%;
}

#list_five li:nth-child(1) {
    padding-left: 10px;
}

#list_five li:nth-child(2) {
    margin-left: 60px;
}

#list_five li:nth-child(3) {
    margin-left: 12px;
}

#list_five li:nth-child(4) {
    margin-left: 7px;
}

#list_five li:nth-child(5) {
    margin-left: -40px;
}

#list_five li:nth-child(6) {
    margin-left: -35px;
    color: #fff;
    background-color: #e94b3b;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 45px;
    margin-top: 8px;
    border-radius: 4px;
}

#list_five li:nth-child(7) {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #e94b3b;
    margin-left: 102px;
}

#list_six li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 5%;
}

#list_six li:nth-child(1) {
    padding-left: 10px;
}

#list_six li:nth-child(2) {
    margin-left: 60px;
}

#list_six li:nth-child(3) {
    margin-left: 10px;
}

#list_six li:nth-child(4) {
    margin-left: 7px;
}

#list_six li:nth-child(5) {
    margin-left: -42px;
}

#list_six li:nth-child(6) {
    margin-left: -35px;
    color: #fff;
    background-color: #ffb61c;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 45px;
    margin-top: 8px;
    border-radius: 4px;
}

#list_six li:nth-child(7) {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffb61c;
    margin-left: 83px;
}

.bar_three {
    width: 73%;
    float: left;
}

.bar_four {
    width: 25%;
    float: right;
}

#exchange_rate {
    background-color: #fff;
    padding-top: 2px;
}

#exchange_rate img {
    margin-left: 40%;
    margin-top: 2px;
    height: 25px;
    width: 25px;
}

#amount {
    width: 90%;
    height: 40px;
    margin-top: 25px;
    margin-left: 5%;
    padding-left: 5%;
    font-size: 11px;
    border: 1px solid #bbb;
}

#currency_bot {
    width: 90%;
    height: 40px;
    margin-top: 30px;
    margin-left: 5%;
    padding-left: 5%;
    font-size: 11px;
    background-image: url(../images/single-arrow.png);
    background-repeat:no-repeat;
    background-position: 260px center;
    border: 1px solid #bbb;
}

#currency_eur {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    padding-left: 5%;
    font-size: 11px;
    background-image: url(../images/single-arrow.png);
    background-repeat:no-repeat;
    background-position: 260px center;
    border: 1px solid #bbb;
}

#converted_amount {
    width: 48%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    padding-left: 5%;
    font-size: 11px;
    border: 1px solid #bbb;
}

#convert {
    width: 30%;
    float: right;
    height: 40px;
    margin-top: 30px;
    margin-right: 5%;
    display: inline-block;
    padding-top: 14px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    background-color: #00aeef;
    cursor: pointer;
}

.cargo {
    margin-top: 32%;
    padding-bottom: 25%;
}

.bar_five {
    width: 49%;
    float:left;
}

.bar_six {
    width: 49%;
    float:right;
}

.table_six {
    width:100%;
    height: 40px;
    background-color: #fff;
    margin-bottom: 3px;
}

#list_seven {
    width:100%;
    margin-left: 10%;
}

#list_seven li {
    list-style-type: none;
    display: inline-block;
    color: #767676;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 70px;
    padding-right: 2%;
}

#list_eight li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 70px;
}

#list_eight li:nth-child(1) {
    padding-left: 10px;
}

#list_eight li:nth-child(2) {
    margin-left: 60px;
}

#list_eight li:nth-child(3) {
    margin-left: 45px;
}

#list_eight li:nth-child(4) {
    margin-left: 80px;
}

#list_nine li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 70px;
}

#list_nine li:nth-child(1) {
    padding-left: 10px;
}

#list_nine li:nth-child(2) {
    margin-left: 60px;
}

#list_nine li:nth-child(3) {
    margin-left: 48px;
}

#list_nine li:nth-child(4) {
    margin-left: 80px;
}

#list_ten li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 70px;
}

#list_ten li:nth-child(1) {
    padding-left: 10px;
}

#list_ten li:nth-child(2) {
    margin-left: 60px;
}

#list_ten li:nth-child(3) {
    margin-left: 45px;
}

#list_ten li:nth-child(4) {
    margin-left: 78px;
}

#list_eleven li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 70px;
}

#list_eleven li:nth-child(1) {
    padding-left: 10px;
}

#list_eleven li:nth-child(2) {
    margin-left: 60px;
}

#list_eleven li:nth-child(3) {
    margin-left: 45px;
}

#list_eleven li:nth-child(4) {
    margin-left: 75px;
}

#list_twelve li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 70px;
}

#list_twelve li:nth-child(1) {
    padding-left: 10px;
}

#list_twelve li:nth-child(2) {
    margin-left: 60px;
}

#list_twelve li:nth-child(3) {
    margin-left: 42px;
}

#list_twelve li:nth-child(4) {
    margin-left: 75px;
}

#list_thirteen ul {
    margin-left: 50px;
}

#list_thirteen li {
    list-style-type: none;
    display: inline-block;
    color: #767676;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 2%;
}

#list_fourteen li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 2%;
}

#list_fourteen li:nth-child(1) {
    padding-left: 10px;
}

#list_fourteen li:nth-child(2) {
    margin-left: 20px;
}

#list_fourteen li:nth-child(3) {
    margin-left: -15px;
}

#list_fourteen li:nth-child(4) {
    margin-left: 30px;
}

#list_fourteen li:nth-child(5) {
    margin-left: 20px;
}

#list_fifteen li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 2%;
}

#list_fifteen li:nth-child(1) {
    padding-left: 10px;
}

#list_fifteen li:nth-child(2) {
    margin-left: 20px;
}

#list_fifteen li:nth-child(3) {
    margin-left: -15px;
}

#list_fifteen li:nth-child(4) {
    margin-left: 30px;
}

#list_fifteen li:nth-child(5) {
    margin-left: 20px;
}

#list_sixteen li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 2%;
}

#list_sixteen li:nth-child(1) {
    padding-left: 10px;
}

#list_sixteen li:nth-child(2) {
    margin-left: 20px;
}

#list_sixteen li:nth-child(3) {
    margin-left: 10px;
}

#list_sixteen li:nth-child(4) {
    margin-left: 37px;
}

#list_sixteen li:nth-child(5) {
    margin-left: 20px;
}

#list_seventeen li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 2%;
}

#list_seventeen li:nth-child(1) {
    padding-left: 10px;
}

#list_seventeen li:nth-child(2) {
    margin-left: 20px;
}

#list_seventeen li:nth-child(3) {
    margin-left: -30px;
}

#list_seventeen li:nth-child(4) {
    margin-left: 37px;
}

#list_seventeen li:nth-child(5) {
    margin-left: 20px;
}

#list_eighteen li {
    list-style-type: none;
    display: inline-block;
    color: #979797;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 2%;
}

#list_eighteen li:nth-child(1) {
    padding-left: 10px;
}

#list_eighteen li:nth-child(2) {
    margin-left: 20px;
}

#list_eighteen li:nth-child(3) {
    margin-left: -30px;
}

#list_eighteen li:nth-child(4) {
    margin-left: 37px;
}

#list_eighteen li:nth-child(5) {
    margin-left: 20px;
}

#monthly {
    display: block;
    float:right;
    padding-top: 8px;
    padding-right: 8px;
    appearance: none;
}

select {
    width: 100px;
    height:25px;
    padding-left: 5px;
    color: gray;
    background-image: url("../images/down-arrow.png");
    background-repeat:no-repeat;
    background-position:80px center;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#graph_months {
    background-color: #fff;
    height: 30px;
    margin-top: -4px;
    margin-left: 3px;
    margin-right: 1px;
}

#graph_months ul {
    margin-left: 30px;
}

#graph_months li {
    list-style-type: none;
    display: inline-block;
    color: #767676;
    font-size: 12px;
    padding-right: 5%;
}
