/*DASHBOARD CSS*/

#view {
    float: right;
    cursor: pointer;
}

#monthly {
    float: right;
    margin-top: 8px;
}

select{
    width: 250px;
    height: 35px;
    padding-left: 5px;
    color: gray;
    /* background-image: url("../images/down-arrow.png"); */
    background-repeat: no-repeat;
    background-color: #fff;
    border-color:#999966 ;
    background-position: 80px center;
    -webkit-appearance: none;
}

input {
    border: 1px solid #999966 !important;
    border-radius: 5px !important;
}

form img {
    display:inline-block;
    margin-left: 45%;
    margin-top: -20px;
}

#ship {
    width: 120px;
    float:left;
    text-align: center;
    color: black;
    font-size: 14px;
    border: 1px solid #9c9c9c;
    background-color: #fff;
}

#ship p {
    padding-top: 10px;
    cursor: pointer;
}

#ship img {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    background-color: #004d6a;
}

#plane {
    width: 120px;
    float:left;
    margin-left: 0.5%;
    text-align: center;
    color: black;
    font-size: 14px;
    border: 1px solid #9c9c9c;
    background-color: #fff;
}

#plane img {
    box-sizing: border-box;
    float: left;
    padding: 1px;
    background-color: #04afef;
}

#plane p {
    padding-top: 10px;
    cursor: pointer;
}

/*MEDIA QUERIES*/


