@charset "ISO-8859-1";

.bl-information-header {
	font-size: 16px;
	padding-left: 20px;
	font-weight: bold;
}
.dsr-padding-column {
	padding-top: 15px;
}

.select {
    height: 33px; 
    width: 100% !important;
    padding-left: 10px;
}
