html {
    /* overflow: hidden; */
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    margin:0;
    padding: 0;
    overflow-x: hidden;
    /* font-size: 16px !important; */
}
/**HEADER LOG IN PAGE, START**/



.sea-export-1 {
    text-align: center; 
    background-color: #13357e;
    color: #fff;
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin:0; 
    padding:15px 0;
}

.sea-export-2 {
    text-align: center; 
    background-color: #0288d1;
    color: #fff;
    font-size: 120%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin:0; 
    padding:5px 0;
}

.header {
    width: 100%;
    height: 70px;
}

.header-area {
    background-color: #222534;
    padding: 6px 0;
}

.header-1 {
    width: 264px;
    margin-left: 4%;
    float: left;
}

.header-2 {
    line-height: 70px;
    margin-right: 10%;
    margin-top: 20px;
    float: right;
}

.img-global {
    margin-top: 5px;
    /*text-align: center;*/
}

.sea-export-3 {
/*     padding-left: 8px!important;
    color: #000;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: 1px; */
    word-spacing: 4px;
    margin-top: 27px;
    
}

.footer{
 background:#222534;
 overflow:hidden;
 color:white;
    position: relative;
 margin-top:20px;
}
.footer-para{
 padding:30px 5px 30px 20%;
 opacity:0.6;
}