
.ship-container-one {
 background-color: #004d6a;
 height:100px;
 border-radius:5px;
 margin-top: 10px;
 border: 2px solid #222533;
}

.ship-container-two {
 height:auto;
 border-radius:5px;
 margin-top: 10px;
 margin-bottom: 10px;
 border: 2px solid #222533;
}

.ship-container-three {
 background-color: #80ccff;
 height:auto;
 border-radius:5px;
 margin-top: 15px;
 padding: 20px;"
}

.ship-container-four {
 background-color: #fff;
 height:auto;
 border-radius:5px;
 margin-top: 15px;
 padding: 20px;
 padding:0 !important;
}

.ship-container-five {
 background-color: #80ccff;
 font-weight: bold;
 margin: 10px 0 10px 0;
 padding: 5px 0 5px 5px;"
}

.ship-container-six {
 background-color: #80ccff;
 font-weight: bold;
 padding: 5px 0 5px 5px;
}

.ship-container-seven {
 background-color: #e5e7e9;
 font-weight: bold;
 margin: 5px 0 5px 0;
 padding: 5px 0 5px 5px;"
}

.map-div {
 background-color: #e5e7e9;
 height:auto;
 border-radius:5px;
 margin-top: 15px;
 padding: 20px;
}

.panel-heading {
 background-color: #004d6a;
 color: #fff;
}

.text-left {
 font-size:150%;
 padding-top:5px;
}