

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {
	/* height: 100%; */ 
	background-color: #eaeaea
}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
/* p {margin:0} */ /* For new myshipment that trident alignment */

/*Hexagon*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 12px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 15px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000
}
#pentagon {
    position: relative;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
}
#pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
}
			
#octagon {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
}

#octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

#octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

h1, h2, h3, h4, h5, h6 {
  /*margin: 0 0 10px;*/
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
.modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  
}
ul{
list-style: outside none none;
margin: 0;
padding: 0;
/* margin-left:17px */
}
.clear{clear:both}
/* body {
  font-family: 'Lato', sans-serif;
  background:#f2f2f2;
} */


.hr-import {
	width: 65px !important;
}

.header-area {
  background-color: #222534;
  padding: 12px 0;
}
.input-group-addon {
    border-radius: 0;
    padding: 0;
    border: 0;
}

.button-change{
	border: 0 none!important;
    border-radius: 0!important;
    font-size: 12px!important;
    padding: 6.6px 12px!important;
    margin-top: 10px;
}

 .btn {
  border: 0 none;
  border-radius: 0;
  font-size: 12px;
  /* padding: 8.5px 12px; */
  
}
.form-control {
  border: 0;
  border-radius: 0;
}
.form-group {
  margin-bottom: 0;
}
.search-form {
  padding-top: 10px;
}

.col-md-4:last-child .search-form {
    position: absolute;
    right: 0;
    width: 63%;
}
.search-form.first {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 80%;
}



.second {
    position: relative;
}
.border-img {
        left: 97px;
    position: absolute;
    top: 7px;
    width: 16%;
}

.border-text {
    color: #fff;
    font-size: 10px;
    left: 26px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 3px;
}
.border-text p {
    margin-bottom: 3px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
}
select::-ms-expand { 
    display: none;
}


.welcome-area {
    background-color: #ffffff;
    //border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 10px 0;
	//background-color:mediumturquoise
}
.left-1 {
    display: inline-block;
    width: 40%;
}
.left-2 {
    display: inline-block;
    margin-left: 10px;
    width: 40%;
}
.left-1 select,
.left-2 select {
    font-size: 19px;
    text-align: center;
}

.input-group {
    border: 1px solid transparent;
}
.left-1 .input-group .input-group-addon .btn,
.left-2 .input-group .input-group-addon .btn {
    font-size: 13px;
    padding: 15px 18px;
}
.left-1 .input-group select.form-control,
.left-2 .input-group select.form-control {
  height: 49px;
}

.user-text {
    font-size: 22px;
    text-align: right;
    text-transform: capitalize;
    margin-top: 10px;
}

.table-h-nav li {
    display: inline-block;
}
.table-h-nav li a {
    color: #252525;
    display: block;
    /* font-size: 10px; */
    font-size: 14px;
    font-weight:bold;
    padding: 10px 15px;
    text-transform: uppercase;
	/*opacity:0.7;*/
}

.footer{
	background:#222534;
	overflow:hidden;
	color:white;
	    position: relative;
	margin-top:20px;
}
.footer-para{
	padding:30px 5px 30px 20%;
	opacity:0.6;
}
.footer-img{
	padding-top:20px;
}
.table-h-nav-footer li {
    display: inline-block;
}
.table-h-nav-footer li a {
    color:white;
    display: block;
    font-size: 13px;
	padding: 30px 5px 30px 5px;
    text-transform: capitalize;
	opacity:0.6;
}
.booking-table-heading-area {
    background-color: #f5f5f5;
    /*padding: 10px 0;*/
	border:1px solid #ddd;
}

.table-h-nav li a:hover {
    background:#fff;
	border-radius:8px;
	color: #007AA7 !important;
	opacity:0.9;
	/* transform:scale(1.1); */
}

.btn_radio{
	float:left;
	padding-left:10px;
}

.radio_text {
	    float: left;
    text-transform: uppercase;
    
    
    text-align: right;
	    padding-left: 10px;
}

.radio_text label {
    color: #fff;
    vertical-align: top;
    padding-right: 4px;
}

.search-form {
    margin-bottom: 5px;
}
#form_search{
	width: 65%;
    float: right;
}
.table_header{
	background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 8px;
}
.table_header span{
    opacity: 0.6;
    font-size: 20px;
}
.table_header h3{
	display: inline;
    text-transform: uppercase;
    padding-left: 7px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.6;
}
.table_header a:hover{
	color:#222534;
}
.main-body{
	padding-top:0px;
	background-color:#ffffff;
}
.nav_hov li a:hover{
	background:#222534;
	color:white;
}
.dropdown-menu li a:hover{
	background-color: #007AA7 !important;
    color: #252525 !important;
}

.dropdown-menu li a div:hover{
	background-color: #007AA7 !important;
    color: #252525 !important;
}
.nav_hov li{
	background:#f5f5f5;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.tab-content{
	border:1px solid #ddd;
	padding:10px 0px;
	min-height:300px;
}
#upload_file{
	background:#222534;
	color:white;
	
}
.file {
  visibility: hidden;
  position: absolute;
}
.input_text{
	margin:0;
	padding:2px;
	font-size:10px;
	text-align: center;
}
.line_item_text{
	border-bottom:1px solid #ddd;
}
.input_area{
	padding-top:20px;
}
#btn_add_more{
	margin-top:22%;
}

.forms{
	margin-bottom:1%;
}
.forms span{
	    line-height: 33px;
}
.textarea{
	min-height:100px;
	width:100%;
}
.tab_text{
	padding:12px 0px;
	background:darkgrey;
	    margin-top: 5px;
    margin-bottom: 7px;
}
.tab_text p{
/* 	padding-left: 20px; */
    font-size: 18px; 
    padding-left: 15px;
    font-weight: 600;
}
.tab_input_area{
	//background:skyblue;
	//padding-bottom: 5px;
}
.tab_input_area span{
	font-size:15px;
	line-height: 80px;
}
.tab_input_area label{
	font-size:14px;
}
.btn_addmore{
	padding-top:2%;
}
.pull-right {
    margin-right: 2%;
    margin-top: -2%;
}


/*CHANGES DONE IN direct-booking page*/
/*START*/
.input-group-addon:last-child {
    border-left: 0;
    text-align: left;
    padding-left: 0px;
    font-weight: bold;
    background-color:#ffffff;
}

.book {
    width: 170px !important;
    padding-left: 5px !important;
}

.book-comm {
    width: 140px !important;
    padding-left: 5px !important;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

 .form-control.color-change:focus {
  /* border-color: #ff0303;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
  border-color: #007aa7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0, 192, 239, 0.45);
}

.textarea.color-change:focus {
  /* border-color: #ff0303;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
  border-color: #007aa7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(0, 192, 239, 0.45);
}
/*END*/

/*CHANGES DONE IN commercial-invoice page*/
/*START*/

.commercial h4{
    background-color: #337ab7;padding-top:7px;padding-left:20px; text-align:center;font-weight:bold;height:35px;margin-top:10px; color:#fff;margin-right:-15px;
}

.bs-example{
    	margin-left: 15px;
    }
	/* Fix alignment issue of label on extra small devices in Bootstrap 3.2 */
    .form-horizontal .control-label{
        padding-bottom: 7px;
        text-align: left;
        /*background-color: #337ab7;*/
        color: gray;
    }
    
.form-horizontal .form-control {
    margin-bottom: 5px;
}

.div-small {
    height: 30px;
    width: 220px;
    margin-left: 10px;
    background-color: #fff;
    
}

.div-large {
    height: 166px;
    width: 350px;
    background-color: #fff;
    
}

.div-large1 {
    height: 100px;
    width: 540px;
    background-color: #fff;
    
}

.commercial-table {
    height: auto;
}

.commercial-table thead td {
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #337ab7;
    border-right: 1px solid #fff;
}

.commercial-table tbody td {
    height: 20px;
    border: 1px solid #337ab7;
}

.beneficiary tr td {
    color: #fff;
    font-weight: bold;
    text-align: left;
    background-color: #337ab7; 
    border-bottom: 1px solid #fff;
}
/*END*/


/*START*/

/*.vertical-line {
    position: absolute;
    height: 45px;
    width: 2px;
    margin-left: 85px;
    margin-top: -35px;
    background-color: #c9c9c9;
}*/

.container-table1 tbody td{
    font-size: 11px;
    background-color: #fff;
    font-weight: bold;
}

.container-table2 tbody td{
    font-size: 11px;
    background-color: #fff;
    font-weight: bold;
} 

#print {
   width:100px; height:40px; border-radius:5px;font-weight:bold;font-size:14px;color:#fff;background-color:#5cb85c;
   /*width:100px; height:40px; border-radius:5px;font-weight:bold;font-size:14px;color:#fff;margin-right:50px;margin-bottom:10px;background-color:#5cb85c;*/
}

#pdf {
   width:100px; height:40px; border-radius:5px;font-weight:bold;font-size:14px;margin-right:20px;
}

.seller {
    background-color: #337ab7;height:30px;color:#fff;font-size:15px;padding: 5px 0 0 5px;font-weight:bold;
}

.packaging-table1 tbody td {
    background-color: #fff;
    font-size: 11px;
    text-align: center;
}

.packaging-table2 {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #fff !important;
}
 
.packaging-row {
    background-color: #fff;
}

.packaging-table3 td {
    background-color:inherit !important;
    font-weight:bold;
} 

#hdl {
   width:150px;background-color:#337ab7;border:1px solid #fff;color:#fff;font-weight:bold;
}

.cargo {
   width:150px !important;background-color:#337ab7 !important;border:1px solid #fff !important;color:#fff;font-weight:bold;
}

/*.right-arrow {
	display: inline-block;
	position: relative;
	background: orange;
	padding: 15px;
    font-size: 15px;
    color: #fff;
    width:150px;
    text-align: center;
    cursor: pointer;
}
.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid orange;
}

.normal-div {
    display: inline-block;
	position: relative;
	background: #337ab7;
	padding: 15px;
    margin-left: 8px;
    font-size: 15px;
    color: #fff;
    width:150px;
    text-align: center;
    cursor: pointer;
}

.tracking-arrow {
    font-size: 15px;
    color: #fff;
}*/

.tracking-items li {
    float: left;
    padding-left: 2px;
}

.tracking-item {
    display: inline-block;
	position: relative;
	background: #337ab7 !important;
	padding: 10px;
    font-size: 15px;
    color: #fff !important;
    width:150px;
    text-align: center;
}

.tracking-item:after {
    content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 21px solid transparent;
	border-left: 20px solid #337ab7;
    z-index:100;
}

.tracking-item:before {
    content: '';
	display: block;  
	position: absolute;
	left: 0%;
	top: 50%;
	margin-top: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 21px solid transparent;
	border-left: 20px solid #f2f2f2;
}

.stateC a {
    display: inline-block;
    background-color: dimgray!important;
}

.stateC a:after {
    border-left: 20px solid dimgray;
}

.stateA a {
    display: inline-block;
    background-color: #337ab7!important;
}

.stateA a:after {
    border-left: 20px solid #337ab7;
}

.stateB a {
   display: inline-block;
    background-color: #6ab2f0!important; 
}

.stateB a:after {
    border-left: 20px solid #6ab2f0;
}

.stateB a {
   display: inline-block;
    background-color: #6ab2f0!important; 
}

.stateB a:after {
    border-left: 20px solid #6ab2f0;
}

.stateB a {
   display: inline-block;
    background-color: #6ab2f0!important; 
}

.stateB a:after {
    border-left: 20px solid #6ab2f0;
}

.stateB a {
   display: inline-block;
    background-color: #6ab2f0!important; 
}

.stateB a:after {
    border-left: 20px solid #6ab2f0;
}

.package {
    height: 30px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    padding-top: 3px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
}

.package-detail td {
    font-weight: bold;
    width:33%;
}

.package-detail tbody td {
    border: none;
}

.excel-export {
	height: 40px; width: auto; margin-left: 250px;margin-top: -50px;
}
/*ZOOMED OUT PAGES----START*/
.logo img {
   width:200px; 
   height:40px;
   margin-top:12px;
}

.track input {
    width:200px !important;
    height:30px;
    margin-top:17px;
    border-radius:0px !important;
    margin-left:30px;
}

.header-radio hr {
    display:inline-block;
    position:absolute;
    color:#fff;
    margin-top:9px;
    margin-left:2px;
}

.header-radio p {
    color:#fff;
    font-size:10px;
}

.header-control {
    width:150px !important;
    height:30px;
    margin-top:10px;
    border-radius:0px !important;
    margin-left:-32px;
}

 .hr-exp {
	width: 30px;
}

 .hr-cha {
    width: 30px;
    margin-top: -13px !important;
}

 .cha-radio {
    position: absolute;
    z-index: 1000;
    display: block !important;
	margin-top: -17px !important;
	margin-left: 52px !important;
}
.dash-ship-frm-div{ 
	margin-right: 110px !important; margin-top: 5px;margin-left: -94px;
	}

.dashboard-ship-frm-date{
	height: 30px;padding-left: 5px;
}

.dash-ship-to-div{
	margin-left: -165px !important; margin-top: 5px;
}
.dashboard-ship-to-date{
	height: 30px;padding-left: 5px;
}
.dash-ship-frm-lbl{
	vertical-align: middle;padding-right: 5px;
}
.dash-ship-to-lbl{
	vertical-align: middle;padding-right: 5px;
}

/*MEDIA QUERY----START*/

@media (min-width: 1024px) {
    
.track input {  
    width:175px !important;
    margin-left:20px;
}
    
.logo img {
      width:170px; 
      height:40px;  
    }
    }


@media (min-width: 992px) and (max-width: 1199px) {
  .border-text {
    left: 9px;
    top: 3px;
  }
  .border-img {
    left: 50px;
    top: 10px;
    }
    
  .header-control {
    margin-left:-4px;
}
}

  
@media (min-width: 768px) and (max-width: 991px) {
    
  .container {
       width: 100% !important; 
    }
    
  .track input {  
    width:175px !important;
   }
    
  .header-area {
    padding: 15px 0;
  }
    
  .logo {
    margin-bottom: 8px;
  }
    
   .logo img {
      width:170px; 
      height:40px;  
    }
    
  .col-sm-4:last-child .search-form {
    right: 75px;
    top: 60px;
  }
  .border-text {
    left: 82px;
    top: 63px;
  }
  .border-img {
    left: 129px;
    top: 70px;
    width: 74px;
  }

  .user-text {
      margin-top: -30px;
  }
    
  .table-h-nav li a {
      padding: 7px 8px;
  }
    
  .header-control {
      margin-left:-4px;
  }
}


@media (max-width: 767px) {

.search-form{
	top:20px;
	margin:0;
	padding:5px;
	width:100%;
}
.second{
	top:30px;
	margin:0;
	padding:0px;
}
  .user-text {
    margin-top: -30px;
  }

  .header-area {
      
      text-align: center;
  }
  .radio_text {
    font-size: 10px;
    line-height: 18px;
  }
  .btn_radio {
    font-size:8px;
	line-height:0px;
  }
  #nav_slash_one, #nav_slash_two, #nav_slash_three, #nav_slash_four, #nav_slash_five, #nav_slash_six{
	  display:none;
  }
  .booking-table-heading-area{
	  text-align:center;
  }
  .logo {
      margin-bottom: 5px;
  }
  .table_header span{
	  font-size:8px;
  }
  .table-responsive{
	  margin:0;
	  padding:0;
  }
  .table_header h3{
	  font-size:10px;
  }
  .table_header a{
	  font-size:10px;
  }
  .border-img {
      display: none;
  }
  .left-1,.left-2 {
    display: block;
    width: 95%;
  }
  .left-2 {
    margin-left: 0;
    margin-top: 5px;
  }

  .table-h-nav li {
      display: block;
  }
  .table-h-nav li a {
      border-bottom: 1px solid #ddd;
      padding: 6px 10px;
  }
  .table-h-nav li a:hover {
      transform:scale(1.02);
  }
  .table-h-nav li:last-child a {
      border-bottom: 0 none;
  }
   .footer{
    padding-bottom:40px;
  }
  .footer-para {
    position:absolute;
	top:95px;
	left:-10px;
	opacity:1.0;
  }
  .table-h-nav-footer li a {
    padding:0 4px;
	font-size:12px;
  }
  .footer-img{
	  padding-bottom:10px;
  }	
}


/*END*/

.track-radio {
    width: 280px;
}

/*changes done for header*/

/*******************************************************************************************************/

.header {
    width:100%; 
    height: 70px;
    background-color: #222534;
}

.header-1 {
    width:220px;
    padding-top:10px;
    /*margin-left:10%;*/
    float: left;
}

.header-2 {
    width:15%;
    padding-top:20px;
    margin-left:14%;
    float: left;
}

#exampleInputAmount {
    border-radius: 0 !important; 
    height:30px;
}

.header-2 button {
    height:30px;
    float:left;
    margin-left:95%;
    margin-top: -30px;
}

.header-3 {
    width:450px;
    padding-top:5px;
    float: right;
    
}

.exp {
    color:#fff; 
    display: inline; 
    vertical-align:4px; 
    font-size: 12px !important;
    margin-right: 5px;
    
}

.imp {
    color:#fff; 
    display: inline; 
    vertical-align:4px; 
    font-size: 12px !important;
    margin-right: 5px;
   
}

    /*.cha {
       position: absolute;
       z-index: 100;
       margin-top: -2px !important;
       margin-left: 20px !important;
    }
    
    .cha-radio {
       position: absolute;
       z-index: 100;
       margin-top: 0px !important;
    }
    
    .exp {
       position: absolute;
       z-index: 100;
       margin-top: 2px !important;
       margin-left: -64px !important;
    }
    
    .export-radio {
       position: absolute;
       z-index: 100;
       margin-top: 5px !important;
       margin-left: -13px !important;
    }
    
    .radio_text {
       margin-top: 3px !important;
    }*/

.error-display {
          margin: 0; 
          font-size: 30px; 
          color: red; 
          font-weight: bold; 
          text-align: center;
}

.form-field-change-group {
	  margin-left: -15px;
}

.form-field-change img {
    margin-left: 3px; 
    margin-top: 5px;  
}

@media (min-width: 320px) and (max-width: 354px) {
    
    .header {
       width: 100%;
       height: 200px !important; 
       margin: 0 auto;
    }
    
    .header-1{
        margin-top: 20px;
        margin-left: 22% !important;
    }
    
    .header-1 img {
       width: 100%;
       height: 40px;
       margin-left: -30px !important;
    }
    
    .header-2 {
        clear:both;
        width: 200px !important;
        margin-left: 15% !important;
    }
    
     .header-3 {
         clear:both;
         width: 313px !important;
         padding-top: 10px !important;
         margin-left: 50px !important;
    }
    
    .header-control {
        
        margin-top: 0;
        margin-left: -13px;
    }
    
    .header-5 {
        margin-top: 0px !important;
    }
}

@media (min-width: 355px) and (max-width: 519px) {
    
     .header {
       width: 100%;
       height: 210px !important; 
       margin: 0 auto;
    }
    
    .header-1{
        margin-top: 20px;
        margin-left: 28% !important;
    }
    
    .header-1 img {
       width: 100%;
       height: 40px;
       margin-left: -50px !important;
    }
    
    .header-2 {
        clear:both;
        width: 200px !important;
        margin-left: 20% !important;
        margin-top: 10px;
    }
    
     .header-3 {
         clear:both;
         width: 360px !important;
         padding-top: 20px !important;
    }
    
    .header-control {
        margin-top: 2px !important;
        margin-left: 0px;
    }
    
    .button-change {
        margin-top: 2px;
    }
    
    .cha {
       
       margin-top: 12px !important;
    }
    
    .exp {
       
       vertical-align: 5px;
    }
    
    .cha-radio {
       
       margin-top: -7px !important;
    }
    .excel-export {
       margin-left: 350px;
    }
    
    
}


@media (min-width: 520px) and (max-width: 679px) {
    
    .header {
       width: 100%;
       height: 180px !important; 
       margin: 0 auto;
    }
    
    .header-1{
        margin-left: 34% !important;
    }
    
     .header-3 {
         clear:both;
         width: 360px !important;
         padding-top: 20px !important;
    }
    
    .header-control {
        margin-top: 2px !important;
        margin-left: 0px;
    }
    
    .exp {
       vertical-align: 5px;
    }
    
    .excel-export {
       margin-left: 375px;
    }
}


@media (min-width: 768px) and (max-width: 960px) {
    
    .header {
        height: 120px !important;
    }
    
    
    .header-1{
        margin-left: 41% !important;
    }
    
    .header-1 img {
       width: 100%;
       height: 40px;
       margin-left: -50px;
    }
    
    .header-2 {
        clear: both;
        width: 175px !important;
        margin-left: 8% !important;
    }
    
    .header-3 {
         float: right !important;
         width: 370px !important;
         margin-right: 5% !important;
         margin-top: 15px; 
    }
    
   /* .form-field-change-group {
     margin-top: -47px !important;      
    }*/
    
    .header-control {
        margin-top: 2px !important;
        margin-left: 0px;
    }
    
    .button-change {
        margin-top: 2px;
    }
    
    .cha {
       position: absolute;
       z-index: 100;
       margin-top: -2px !important;
       margin-left: 20px !important;
    }
    
    .exp {
       margin-top: 5px !important;
    }
    
    .imp {
       position: absolute;
       z-index: 100;
       margin-left: -64px !important;
       margin-top: -2px;
    }
    
    .import-radio {
       position: absolute;
       z-index: 100;
       margin-top: 0px !important;
       margin-left: -13px !important;
    }
    
    .radio_text {
       margin-top: -10px;
    }
    
    .export-radio {
       margin-top: -25px !important;
    }
    
    .cha-radio {
       position: absolute;
       z-index: 100;
       margin-top: 0px !important;
    }
    
    .form-field-change-group {
       margin-left: -5px; 
       margin-top: -5px;
    }
    
    .form-field-change img {
      margin-left: 7px; 
      margin-top: -8px;  
    }
    .excel-export {
       margin-left: 115%;
    }
}






@media (min-width: 680px) and (max-width: 767px) {
    
    .header {
        height: 120px !important;
    }
    
    
    .header-1{
        margin-left: 41% !important;
    }
    
    .header-1 img {
       width: 100%;
       height: 40px;
       margin-left: -50px;
    }
    
    .header-2 {
        clear: both;
        width: 175px !important;
        margin-left: 8% !important;
    }
    
    .header-3 {
         float: right !important;
         width: 370px !important;
         margin-right: 5% !important;
         margin-top: 15px;
    }
    
    .header-control {
        margin-top: 2px !important;
        margin-left: 0px;
    }
    
    .button-change {
        margin-top: 2px;
    }
    
    .cha {
       margin-top: 12px !important;
    }
    
    .exp {
       margin-top: 2px !important;
    }
    
    .export-radio {
       margin-top: -10px !important;
    }
    
    .cha-radio {
       margin-top: -6px !important;
    }
    
    .form-field-change-group {
       margin-left: -5px; 
       margin-top: -5px;
    }
    
    .form-field-change img {
      margin-left: 7px; 
      margin-top: -8px;  
    }
    
    .excel-export {
       margin-left: 75%;
    }
}


@media (min-width: 961px) and (max-width: 1200px) {
    
    .header-2 {
        margin-left: 4% !important;
        width: 180px !important;
    }
    
    .header-3 {
         float: right !important;
         width: 310px !important;
         margin-right: 2% !important;
    }
    
    .form-field-change-group {
     margin-left: -50px; 
}
    
    .cha {
       position: absolute;
       z-index: 100;
       margin-top: 2px !important;
       margin-left: -44px !important;
    }
    
    .cha-radio {
       position: absolute;
       z-index: 100;
       margin-top: 0px !important;
       margin-left: -13px !important;
    }
    
    .imp {
       position: absolute;
       z-index: 100;
       margin-top: 2px !important;
       margin-left: -64px !important;
    }
    
    .exp {
       position: absolute;
       z-index: 100;
       margin-top: 2px !important;
       margin-left: -64px !important;
    }
    
    .export-radio {
       position: absolute;
       z-index: 100;
       margin-top: 5px !important;
       margin-left: -13px !important;
    }
    
    .import-radio {
       position: absolute;
       z-index: 100;
       margin-top: 2px !important;
       margin-left: -13px !important;
    }
   
    .radio_text {
       margin-top: 3px !important;
    }
    
    .excel-export {
       margin-left: 115%;
    }
}

@media (min-width: 1201px) and (max-width: 2560px) {
	
	 .header-3 {
         float: right !important;
         width: 290px !important;
         margin-right: 5% !important;
    }
	
	.cha {
       position: absolute;
       z-index: 100;
       margin-top: -2px !important;
       margin-left: -44px !important;
    }
    
    .cha-radio {
       position: absolute;
       z-index: 100;
       margin-top: 0px !important;
       margin-left: -13px !important;
    }
    
    .exp {
       position: absolute;
       z-index: 100;
       margin-top: 2px !important;
       margin-left: -67px !important;
    }
    
    .export-radio {
       position: absolute;
       z-index: 100;
       margin-top: 5px !important;
       margin-left: -13px !important;
    }
    
    .imp {
       position: absolute;
       z-index: 100;
       margin-top: 0px !important;
       margin-left: -64px !important;
    }
    
    .import-radio {
       position: absolute;
       z-index: 100;
       margin-top: 3px !important;
       margin-left: -13px !important;
    }
    
    .radio_text {
       margin-top: 3px !important;
    }
}


.cha {
    color: #fff;
    /* display: inline; */
    vertical-align: 2px;
    font-size: 12px !important;
    margin-right: 20px;
    margin-top: -24px;
}


/* .cha {
    color:#fff; 
    display: inline; 
    vertical-align:4px; 
    font-size: 12px !important;;
    margin-right: 20px;
} */

/*.vertical-line {
    position: absolute;
    height: 50px;
    width: 2px;
    margin-left: 95px;
    margin-top: -42px;
    background-color: #c9c9c9;
}*/
.required-alone{
	color: red;
}

@media print{
	.no-print{display:block;}
}

/*MEDIA QUERY FOR DATE INPUT BOX*/

@media (min-width: 320px) and (max-width: 375px){
	.dash-ship-frm-div{
	 margin-right: 0px !important;margin-top: 5px;margin-left: -94px;
	}

.dashboard-ship-frm-date{
	height: 30px;padding-left: 5px;
}

.dash-ship-to-div{
	margin-left: -0px !important; margin-top: 5px;
}
.dashboard-ship-to-date{
	height: 30px;padding-left: 5px;
}
 
 .dash-ship-frm-lbl{
	margin-left: 100px;vertical-align: middle;padding-right: 5px;
}
.dash-ship-to-lbl{
	vertical-align: middle;padding-right: 5px;margin-left: 25px;
}   

.excel-export {
       margin-left: 92%;
    }
}

@media (min-width: 376px)and (max-width: 767px){
	.dash-ship-frm-div{
	 margin-right: 0px !important;
	 margin-top: 10px !important;
	}

.dashboard-ship-frm-date{
	height: 30px;
	padding-left: 5px;
	
}

.dash-ship-to-div{
	margin-left: -0px !important; 
	margin-top: 10px !important;
}
.dashboard-ship-to-date{
	height: 30px;
	padding-left: 5px;
}
 
 .dash-ship-frm-lbl{
	vertical-align: middle;
	margin-left: 35%;
}
.dash-ship-to-lbl{
	vertical-align: middle;
	padding-right: 5px;
	margin-left: 23%;
} 
.excel-export {
       margin-left: 92%;
    }  
}

@media (min-width: 768px)and (max-width: 1049px){
	.dash-ship-frm-div{
	 margin-right: 0px !important;
	 margin-top: 10px !important;
	}

.dashboard-ship-frm-date{
	height: 30px;
	padding-left: 5px;
	
}

.dash-ship-to-div{
	margin-left: -0px !important; 
	margin-top: 10px !important;
}
.dashboard-ship-to-date{
	height: 30px;
	padding-left: 5px;
}
 
 .dash-ship-frm-lbl{
	vertical-align: middle;
	margin-left: 35%;
}
.dash-ship-to-lbl{
	vertical-align: middle;
	padding-right: 5px;
	margin-left: 23%;
} 
.excel-export {
       margin-left: 110%;
    }  
}

@media (min-width: 1050px)and (max-width: 1220px){
	.dash-ship-frm-div{
	 margin-right: 0px !important;
	 margin-top: 10px !important;
	}

.dashboard-ship-frm-date{
	height: 30px;
	padding-left: 5px;
	
}

.dash-ship-to-div{
	margin-left: -0px !important; 
	margin-top: 10px !important;
}
.dashboard-ship-to-date{
	height: 30px;
	padding-left: 5px;
}
 
 .dash-ship-frm-lbl{
	vertical-align: middle;
	margin-left: 35%;
}
.dash-ship-to-lbl{
	vertical-align: middle;
	padding-right: 5px;
	margin-left: 23%;
}   

.excel-export {
       margin-left: 95%;
    }
}


/*LATEST CHANGES IN THE HEADER*/ 

@media (min-width: 275px) and (max-width: 320px) {
   
.header-1 img {
       margin-left: -35px !important;
 }
    
.export-radio {
    margin-top: 0px !important; 
    margin-left: 2px !important;
}

.import-radio {
	margin-top: 7px !important;
	margin-left: 2px !important;
}

.cha-radio {
    margin-top: -2px !important;
    margin-left: 55px !important;
}

.form-field-change {
    width: 160px;
}
    
.form-field-change-group {
     margin-left: 60px; 
     margin-top: -45px;
}
    
.form-field-change img {
    margin-left: -30px; 
    margin-top: -2px;  
}

.cha {
	margin-top: 10px !important;
}
    
.button-change {
    margin-left: 100%;
    margin-top: -52px !important;
    }
}


@media (min-width: 321px) and (max-width: 354px) {
 
.header-1 img {
       margin-left: -50px !important;
    }
    
.export-radio {
    margin-top: 0px !important; 
    margin-left: 2px !important;
}

.import-radio {
	margin-top: 7px !important;
	margin-left: 2px !important;
}

.cha-radio {
    margin-top: -2px !important;
    margin-left: 55px !important;
}

.cha {
	margin-top: 10px !important;
}

.form-field-change {
    width: 160px;
}
    
.form-field-change-group {
     margin-left: 50px; 
     margin-top: -45px;
}
    
.form-field-change img {
    margin-left: -30px; 
    margin-top: -2px;  
}

.header-2 {
        clear:both;
        width: 200px !important;
        margin-left: 20% !important;
    }
    
.button-change {
    margin-left: 100%;
    margin-top: -52px !important;
    }
}


@media (min-width: 355px) and (max-width: 519px) {
    
.header-1 img {
       width: 100%;
       height: 40px;
       margin-left: -40px !important;
    }
    
.export-radio {
    margin-top: 0px !important; 
    margin-left: 2px !important;
}

.import-radio {
	margin-top: 7px !important;
	margin-left: 2px !important;
}

.cha-radio {
    margin-top: -2px !important;
    margin-left: 61px !important;
}

.exp {
	margin-left: 7px!important;
}

.cha {
	margin-top: 10px !important;
}

.form-field-change {
    width: 160px;
}
    
.form-field-change-group {
     margin-left: 70px; 
     margin-top: -48px;
}
    
.form-field-change img {
    margin-left: -25px; 
    margin-top: -2px;  
}

.header-radio {
     margin-left: -20px;   
    }
    
.header-2 {
        width: 200px !important;
        margin-left: 22% !important;
    }
    
.button-change{
    margin-left: 100%;
    margin-top: -52px !important;
    }
}


@media (min-width: 400px) and (max-width: 519px){
.header-3 {
	margin-right: 14% !important;
}
}


@media (min-width: 520px) and (max-width: 679px) {
    
.header-1 img {
       width: 100%;
       height: 40px;
       margin-left: -40px !important;
    }
    
.export-radio {
    margin-top: 0px !important; 
    margin-left: 2px !important;
}

.import-radio {
	margin-top: 7px !important;
	margin-left: 2px !important;
}

.cha-radio {
    margin-top: -2px !important;
    margin-left: 54px !important;
}

.cha {
	margin-top: 10px !important;
}

.form-field-change {
    width: 160px;
}
    
.form-field-change-group {
     margin-left: 65px; 
     margin-top: -47px;
}
    
.form-field-change img {
    margin-left: -30px; 
    margin-top: -2px;  
}

.header-radio {
     margin-left: -20px;   
}
    
.header-2 {
    
        width: 200px !important;
        margin-left: 30% !important;
    }
    
 .header-3 {
     margin-right: 20% !important;
     }
     
 .containerTrackingHeader h4 {
 	
    background-color: #337ab7;
    padding-top: 7px;
    text-align: center;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
    color: #fff;
 }
    
.button-change {
    margin-left: 100%;
    margin-top: -52px !important;
    }
}

.search-result-datatable {
	margin-left: 10px !important; 
	margin-right: 10px !important;
}

/* Overriding bootstrap */
select.input-sm {
    line-height: unset !important;
}

/* row margin unset */
.row-margin-unset {
	margin-left: unset !important;
}

.row-margin-unset-all {
	margin-left: unset !important;
	margin-right: unset !important;
}

/* pagination z-index remove issue, overlaps with footer */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: unset !important;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: unset !important;
}

.alert-info-248435 {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}