.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-bottom:3%;
  padding-left:20px;
}

.card:hover {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.style-rectifier{
	
    padding: 1px;
}

.width-rectifier{
	width:100%;
	margin-left:-10px;
	padding-left:17px;
}
.lineItemTextFormatting{
	background-color: #347ab6;
    color: white;
    width: max-content;
    font-weight: 600;
    border: rgb(12, 153, 213);
    border-style: unset;
    padding: 12px;
   
}
.card-rectifier{
	margin-bottom: 0px;
}

.selection-form-rectifier{
	width:100%;
}