
/**********************************
         AFTER LOGIN
**********************************/

.login-nav {
    background: #252525;
    padding: 5px 15px 0 15px;
}

.login-nav .open>a {
    background-color: transparent !important;
}

.track-col {
    border-radius: 40px;
    margin-top: 5px;
    width: 130px;
}

.track-col a {
    text-transform: none;
    text-align: center;
    color: #fff !important;
    font-weight: bold;
}

.track-col .dropdown-menu {
    margin-top: 5px !important;
    width: 300px;
}

.track-col input {
    width: 280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.track-col button {
    width: 280px;
    height: 30px;
    margin: 0 auto;
    padding-top: 5px;
}

.track-col form {
    padding: 10px;
}


.mode-col {
    margin-left: 0 !important;
}


.sea-air {
    width: 120px;
    margin: 0 auto;
}

.sea-air a {
    text-decoration: none;
    color: #fff;
}

.sea {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
    padding-top: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.sea img {
    margin-top: 0;
}

.plane img {
    margin-top: 0;
}

.sea:hover,
.plane:hover {
    /* background-color: #3184a1; */
    /* background-color: #0c99d5; */
    background-color: #2b4854;
}

.plane {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
    padding-top: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.eic {
    margin-bottom: -12px;
}

.exp,
.imp,
.cha {
    display: inline-block;
    vertical-align: 3px;
    padding-right: 5px;
    color: #fff;
}

.exp {
    margin-left: 2px;
    padding-right: 3px;
}

.imp {
    margin-left: 1px;
}

.cha {
    margin-left: 17px;
}

.trident {
    position: absolute;
    margin-top: -53px;
    margin-left: 55px;
}

.submit-arrow {
    margin-left: 48%;
    margin-top: -2px;
}

.partner-form {
    /* margin-left: 95px;
    margin-top: -55px; */
    margin-left: 30%;
    margin-top: -7%;
}
.distributionChannel-inputgroup-new {
	margin-top: 3%;
}

.expimp-inputgroup-new {
	/* background-color: rgb(60, 141, 188); */
	background-color: #0c99d5;
	/* border-color: #367fa9; */
	color: #fff;
	border-radius: 0 !important;
    border: 1px solid #0c99d5 !important;
}

.input-form {
    margin-top: 32px;
}

.dropdown-toggle.expimp-inputgroup-new:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #204d74;
    border: 1px solid #204d74 !important;
}

#parameters {
    padding: 9rem 0 7rem;
    background-color: #eceff1;
}

#parameters h2 {
    font-weight: 700;
}

#heading-top {
    text-align: center;
    font-size: 35px;
    padding-top: 0;
    display: none;
}



.entire-content-c {
    height: 100%;
    /* min-height: 478px; */
    /* background-color: #eceff1; */
    background-color: #eaeaea;
}

.entire-content-c-white {
    height: 100%;
    /* min-height: 478px; */
    /* background-color: #eceff1; */
    background-color: #fff;
}

.partner-col {
    /* width: 350px; */
}

.dropdown-menu {
    /* margin-top: 15px; */
    margin-top: 2px;
}

.welcome {
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
}

.welcome .dropdown-toggle {
    text-transform: none !important;
    color: #fff !important;
    font-weight: bold;
    float: right;
}

.welcome .dropdown-menu {
    /* left: 55%; */
    left: 60%;
    /* margin-top: 5px !important; */
}

.track-col .material-icons {
    position: absolute;
    padding-top: 0;
    left: 15%;
    top: -15px !important;
    font-size: 20px;
    color: #fff;
}

.welcome .material-icons {
    position: absolute;
    padding-top: 0;
    left: 60%;
    top: -15px !important;
    font-size: 20px;
    color: #fff;
}

.welcome .dropdown-item {
    display: block;
    padding: 5px;
    color: #555;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.welcome .dropdown-item i {
    font-size: 18px;
}

.welcome .dropdown-item:hover {
    background-color: #0c99d5;
    color: #fff;
}

/*************************
        FOOTER
*************************/

#footer {
    position: fixed;
    bottom: 0;
    /*top: 572px;*/
    /*width:100%;
    height:60px;*/
    left: 0;
    right: 0;
    /*min-height: 100%;*/
}

/*body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; Set same as footer's height
}*/

.footer-login {
    margin-top: 10px;
}

.footer-login h5 {
    display: inline-block;
}

.footer-login ul {
    display: inline-block;
    margin-left: 10px;
}

.footer-login-copy p {
    padding-top: 10px;
}

.footer-top .footer-app a {
    margin-top: 2px;
}

.top-nav-exp,
.top-nav-imp,
.top-nav-cha {
    display: inline-block;
    vertical-align: 3px;
    padding-right: 5px;
    color: #fff;
}

.top-nav-exp {
    margin-left: -6px;
}

.top-nav-imp {
    margin-left: -7px;
}

.top-nav-cha {
    margin-left: 11px;
}

.menubar-fixed-custom-top {
    top: 66px;
    border-width: 0 0 1px;
}

/*************************
         NAV-BELOW
*************************/

/* .booking-table-heading-area {
    background-color: #337ab7;
    padding: 5px 0;
    margin-top: 65px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.table-h-nav li {
    list-style-type: none;
    float: left;
}

.table-h-nav li a {
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 700;
}

.booking-table-heading-area .dropdown-menu {
    width: 100%;
    margin-top: 5px;
}

.booking-table-heading-area .dropdown-menu a {
    display: block;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-size: 14px !important;
}

.booking-table-heading-area .dropdown-item:hover {
    background-color: #337ab7;
    color: #fff;
}

.booking-table-heading-area .material-icons {
    position: absolute;
    padding-top: 0;
    left: 50%;
    top: -15px !important;
    font-size: 20px;
    color: #fff;
}
 */
 
 
 /*custom*/

 .containerpo {
    position: relative;
    text-align: left;
    padding-left:0px;
    height: 30px;
    width: 170px;
    color: white;
} 

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.bottom-right {
    position: absolute;
    bottom: 3px;
    right: 12px;
}

 .dropdown-menu>li>a {
    display: block;
    /* padding: 4px 20px; */ /* hamid : 27.11.17 */
    padding: 4px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-size: 14px;
}

 .dropdown-menu>li>a>div {
    display: block;
    /* padding: 4px 20px; */ /* hamid : 27.11.17 */
    padding: 4px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-size: 14px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #007aa7 ;
}

.dropdown-menu>li>a>div:focus, .dropdown-menu>li>a>div:hover {
    background-color: #007aa7 ;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #007AA7;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media ( max-width : 767px) { 
	.navbar-nav .open .dropdown-menu .dropdown-header , .navbar-nav .open .dropdown-menu>li>a , .navbar-nav .open .dropdown-menu>li>a>div{
		padding: 6px 0px 6px 15px;
		background-color: #007AA7;
		margin: -5px 0px 0px 0px;	
	}
}

.btn-null {
		background-color: #d8d6d2;
		color: #252525;
		font-weight: 600;
	}