
/***********************
      NAVIGATION
************************/
.entire-content-c {
    height: 100%;
    background-color: #eceff1;
}

.credentials-nav {
    padding: 7px 55px !important;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #f6f6f6;
}

.credentials-nav-356369 {
	background: #252525;
    /* border-bottom: 1px solid #f6f6f6; */
    border-radius: 0px;
    /* padding-top: 10px; */ 
    margin-bottom: 0px;
    padding: 5px 0;
}
    
.credentials-nav #top-nav-1 img {
    margin-top: -5px;
}

#credential {
    width: 100%;
    height: 100%;
    display: table;
}

.credential-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#credential h2{
    text-align: center;
    font-size: 32px;
}

#credential h5 {
    text-align: center;
    font-size: 22px;
}

#credential .form-control {
    line-height: 2;
}

/***********************
       FOOTER
************************/

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

