@CHARSET "ISO-8859-1";
html,
body {
    /* height: 100%; */
    /* font-family: 'Alegreya Sans', sans-serif; */
   	/* changes */
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* margin-bottom: 50px; */
}

.btn {
    font-size: 16px;
    background-color: #3184a1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-bg {
    border-bottom: 1px solid #dedede;
}

/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.myshipment-top-nav {
    background: #222534;
    padding: 7px 0;
}

nav img {
    margin-top: -10px;
    text-align: center;
}

.nav-img-447749 {
    margin-top: 5px;
    text-align: center;
}

.myshipment-nav-wrapper {
    padding: 0 55px;
}

.navbar-nav {
    float: right;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-nav>li>a:hover {
    background: none;
    color: #007AA7;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* NAQUIB */
.nav>li>a:hover, .nav>li>a:active, 
.nav>li>a:focus {
    /* color: #444; */
    background: #252525;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 5px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

ul.navbar-nav>li.active>a {
    color: #34c6d3;
}

ul.navbar-nav>li.active>a.child-0 {
    color: #fff;
}


h2 {
    text-transform: uppercase;
}

h1,
h4,
h5 {
    padding-bottom: 15px;
}


/*****************************
           HEADER
*****************************/

input {
    font-family: sans-serif;
}

#header {
    padding: 4rem 0;
    background: url('../img/Login-background-23.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-row-1 {
    padding-left: 50px;
}


.second-img {
    display: none;
}

#header p {
    text-align: justify;
    padding-right: 20px;
}

#header input {
    font-size: 16px;
}

#header .header-right,
#track-shipment .track {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.header-right {
    margin-bottom: 30px;
}

#header .fa {
    margin: 5% 0;
    float: right;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

#header a .fa {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #fff;
    
}

#header a .fa:hover {
    color: #ccc;
}

.header-row {
    margin-top: 150px;
}

#header .check {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
    font-size: 16px;
}

.checking {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
    margin-left: 23px;
    cursor: pointer;
}

input[type=checkbox] {
    vertical-align: -14px;
}

#header h2 {
    margin-top: 40px;
    font-size: 34px;
}

#header h4 {
    padding-bottom: 10px;
    font-size: 22px;
}

.incorrect-u-p {
    display: none;
    font-style: italic;
    color: yellow;
}

.incorrect-u-p:before {
    content: "**";
    color: red
}

.drop span {
    vertical-align: top;
    padding-right: 10px;
}

.drop .fa {
    margin-top: -6px;
}

.my {
    font-size: 30px;
}

.shipment {
    color: #26acf5;
}

.content-title-underline-body {
    width: 50px;
    height: 2px;
    background-color: #34c6d3;
    margin: 0 auto 20px auto;
}
/*****************************
           FOOTER
*****************************/

#footer-673168 {
    /* padding: 1.5rem 0 0.8rem; */
    padding-top: 5px;
    background: url('../../images/topheaderBG.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}

#footer h4 {
    margin-bottom: 0;
}

#footer h5 {
    padding-bottom: 0;
    font-size: 20px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer .fa {
    padding: 0 5px;
    font-size: 18px;
}

.footer-bottom p {
    margin: 0;
    padding: 10px 0 8px 0;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-follow {
    text-align: center;
}

.footer-follow h5 {
    display: inline-block;
}

.footer-follow ul {
    display: inline-block;
    margin-left: 10px;
}

.footer-copy p{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

.footer-app {
    text-align: center;
    margin-top: 2px;
}

/* HAMID */
.panel-heading-217226 {
	background-color: #007AA7;
    color: #FFF;
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 10px 15px 0px;
    border-color: #ddd;
    border-bottom: 0;
}

.row-margin-unset-all {
	margin-left: unset !important;
	margin-right: unset !important;
}
