html,
body {
    /* height: 100%; */
    /* font-family: 'Alegreya Sans', sans-serif; */
   	/* changes */
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* margin-bottom: 60px; */
    margin-bottom: 35px;
    /* overflow-x: hidden;
    overflow-y: unset; */
}

/* .btn {
    font-size: 16px;
    background-color: #3184a1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */

/*==========================================
 			Fixed Button border radius 
 			myshipment square button
 ===========================================*/
 .btn {
 	border-radius: 0px !important;
 }
 

.header-bg {
    border-bottom: 1px solid #dedede;
}

/* =================================
=======Default myshipment Box=======
==================================== */
.box {
    border-radius: 0px !important;
}

.sweet-alert button {
	border-radius: 0px !important;
}

/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.myshipment-top-nav {
    background: #222534;
    padding: 7px 0;
}

nav img {
    /* margin-top: -10px; */
    margin-top: -2px;
    text-align: center;
}

.myshipment-nav-wrapper {
    padding: 0 55px;
}

.navbar-nav {
    float: right;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: #34c6d3;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*naquib*/
.nav>li>a:hover, .nav>li>a:active {
    color: #444;
    background: transparent;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 5px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.navbar-nav>li.active>a {
    color: #34c6d3;
}

ul.navbar-nav>li.active>a.child-0 {
    color: #fff;
}


h2 {
    text-transform: uppercase;
}

h1,
h4,
h5 {
    padding-bottom: 15px;
}


/*****************************
           HEADER
*****************************/

input {
    font-family: sans-serif;
}

#header {
    padding: 4rem 0;
    background: url('../img/Login-background-23.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-row-1 {
    padding-left: 50px;
}


.second-img {
    display: none;
}

#header p {
    text-align: justify;
    padding-right: 20px;
}

#header input {
    font-size: 16px;
}

#header .header-right,
#track-shipment .track {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.header-right {
    margin-bottom: 30px;
}

#header .fa {
    margin: 5% 0;
    float: right;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

#header a .fa {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #fff;
    
}

#header a .fa:hover {
    color: #ccc;
}

.header-row {
    margin-top: 150px;
}

#header .check {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
    font-size: 16px;
}

.checking {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
    margin-left: 23px;
    cursor: pointer;
}

input[type=checkbox] {
    /* vertical-align: -14px; */
}

#header h2 {
    margin-top: 40px;
    font-size: 34px;
}

#header h4 {
    padding-bottom: 10px;
    font-size: 22px;
}

.incorrect-u-p {
    display: none;
    font-style: italic;
    color: yellow;
}

.incorrect-u-p:before {
    content: "**";
    color: red
}

.drop span {
    vertical-align: top;
    padding-right: 10px;
}

.drop .fa {
    margin-top: -6px;
}

.my {
    font-size: 30px;
}

.shipment {
    color: #26acf5;
}

.content-title-underline-body {
    width: 50px;
    height: 2px;
    background-color: #34c6d3;
    margin: 0 auto 20px auto;
}


/*****************************
           FOOTER
*****************************/

#footer {
    /* padding: 1.5rem 0 0.8rem; */
    padding-top: 5px;
    background: url('../img/topheaderBG.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
}

#footer h4 {
    margin-bottom: 0;
}

#footer h5 {
    padding-bottom: 0;
    font-size: 20px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer .fa {
    padding: 0 5px;
    font-size: 18px;
}

.footer-bottom p {
    margin: 0;
    padding: 10px 0 8px 0;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-follow {
    text-align: center;
}

.footer-follow h5 {
    display: inline-block;
}

.footer-follow ul {
    display: inline-block;
    margin-left: 10px;
}

.footer-copy p{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

.footer-app {
    text-align: center;
    margin-top: 2px;
}

.navbarExcludeDesign {
	border-radius: 0px;
	margin-bottom: 0px;
}

#trackHeaderGo {
    border-radius: 0px !important;
    height: 30px;
    /* border-color: #252525; */
}

.menuPosition {
	position: fixed;
}

.box-myshipment {
    /* border-top-color: #252525 !important; */
}

.not-found {
	color : #fd0d0d;
	font-weight: bold;
}

.dashboard-info-box-number {
    display: block;
    font-weight: bold;
    font-size: 27px;
    padding-left: 5px;
}

.status-badge-green {
	background-color: #00a65a;
}

.status-badge-orange {
	background-color: #d89550;
}

/* HAMID */
.navbar-brand-455723 {
	float: left;
    height: 50px;
    padding: 10px 0px 0px 0px;
    font-size: 18px;
    line-height: 20px;	
}

.nav-tabs-custom-949974 {
    margin-bottom: 20px;
    background: #fff;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
    border-radius: 3px;
}

.well-white-269490 {
	min-height: 20px;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 0px;
}

.totalGWTCBM {
	font-size: 22px !important;
    margin: 2%;
}

.row-without-margin {
	margin-left: 0%;
	margin-right: 0%;
}

.amcharts-chart-div a {
	display: none;
}
.canvasjs-chart-credit {
	display: none;
}

.info-box-content:hover {
	cursor: pointer;
}

.info-box-icon {
    height: 75px !important;
    width: 65px !important;
    text-align: center !important;
    font-size: 35px !important;
}

.info-box {
    min-height: 75px !important;
    width: 100% !important;
    height: 75px !important;
}

.info-box-icon {
	line-height: 75px !important;
}

.info-box-text {
    font-size: 14px !important;
    font-weight: 600;
    text-transform: unset !important;
}

.progress-description {
	font-size: 12px !important;
	/* padding-left: 5px; */
}

.info-box-content {
    padding: 1px 0px !important;
    margin-left: 70px !important;
}

marquee .info-box-text {
	padding-left: 15px;
	padding-right: 15px;
}

.total-bookings-box {
	background-color: #97c5bb !important;
	color: #fff;
}
.open-bookings-box {
	background-color: #80CBC4 !important;
	color: #fff;
}
.goods-handover-box {
	background-color: #4DB6AC !important;
	color: #fff;
}
.stuffing-done-box {
	background-color: #26A69A !important;
	color: #fff;
}
.in-transit-box {
	background-color: #009688 !important;
	color: #fff;
}
.arrived-box {
	background-color: #00695C !important;
	color: #fff;
}

.dashboard-box-menu-row-gap {
	margin-top: -1%;
}

.new-footer {
    text-align: center;
    margin-top: 2%;
}
.new-footer p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 15px 15px;
    background: #1e2223;
    margin: 0px;
}
.shipment-footer-panel {
    color: #26acf5;
    font-size: 17px;
}

/* hamid */
@media only screen and (min-width: 310px) and (max-width: 650px) {
	html, body {
	    margin-bottom: 0px;	   
	}
}

@media only screen and (min-width: 651px) and (max-width: 991px) {
	html, body {
	    margin-bottom: 0px;
	}
}

/* MENU[Right(replacement of track)] CRM panel selection render */
/*#select2-crm-buyers-list-container {
	word-wrap: normal !important;
    white-space: normal;
    overflow: hidden !important;
}*/