/* Large Devices (Desktops & Laptops) */

@media (max-width: 1242px) {
    .container-fluid {
        padding: 6px 15px;
    }
    .credentials-nav {
        padding: 6px 15px !important;
    }
    .credentials-nav .navbar-nav {
        float: right !important;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 320px) and (max-width: 1242px) {
    .navbar {
        /* background: rgba(0, 0, 0, .7); */
        padding: 0;
    }
    .navbar-nav {
        float: left;
    }
    .myshipment-nav-wrapper {
        padding: 0;
    }
    
    .menubar-fixed-top {
    	position: relative !important;
    	height : unset !important;
    	z-index: unset !important;
    }
}


/*****************************
      MEDIA QUERIES INDEX
*****************************/

@media screen and (max-width:1200px) {
    #footer {
        position: static!important;
    }
    .footer-app {
        padding-bottom: 10px;
    }
    #parameters {
        padding: 7rem 0 3rem !important;
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .checking {
        margin-left: 0;
    }
    #header .fa {
        margin: 0 0 6%;
    }
    .header-row-1 {
        padding-left: 0;
    }
    .partner-col {
        width: 100%;
    }
    .track-col {
        padding: 0;
        margin-left: 0;
        width: 80px;
    }
    .login-nav {
        padding: 0 10px !important;
    }
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 25px !important;
    }
    h3 {
        font-size: 23px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    /* .navbar {
        background-color: rgba(21, 31, 33, 0.9);
        border-bottom: 1px solid #dedede;
    } */
    #top-nav {
        float: left !important;
    }
    .header-row-1 {
        display: none;
    }
    .second-img {
        display: block;
    }
    #header .fa {
        display: none;
    }
    .header-row-1 {
        padding-left: 0;
    }
    .header-row {
        margin-top: 80px;
    }
    #about-us img {
        padding-top: 40px;
    }
    .welcome {
        display: inline-block;
    }
    .dropdown-menu {
        margin-top: 0!important;
    }
    .sea-air {
        padding-left: 10px;
    }
}

@media screen and (max-width:401px) {
    .checking {
        margin-left: 0px;
    }
}

@media screen and (max-width:320px) {
    .partner-col {
        width: 330px !important;
    }
    .track-col .dropdown-menu {
        width: 300px !important;
    }
    .track-col input,
    .track-col button {
        width: 280px !important;
    }
}


/*****************************
  MEDIA QUERIES AFTER-LOGIN
*****************************/

@media screen and (min-width:992px) and (max-width: 1106px) {
    .login-nav {
        padding: 0 10px;
    }
}

@media screen and (min-width:1106px) and (max-width: 1326px) {
    .mode-col {
        width: 130px;
    }
}

@media screen and (min-width:1197px) and (max-width: 1210px) {
    .track-col {
        padding: 0;
    }
    .mode-col {
        padding: 0;
        width: 120px;
    }
}

@media screen and (max-width:1197px) {
    .imp {
        margin-left: 0;
    }
    .partner-col {
        margin-left: 15px !important;
    }
    .track-col {
        padding: 15px;
        width: 130px;
    }
    .mode-col {
        padding: 15px;
    }
    .mode-col {
        width: 130px;
    }
    .track-col .dropdown-menu {
        background-color: #fff !important;
        width: 300px !important;
        margin-left: 15px;
    }
    .track-col .material-icons {
        position: absolute;
        padding-top: 0;
        left: 30% !important;
        margin-top: 60px;
        font-size: 20px;
        color: #fff;
    }
    .welcome .material-icons {
        position: absolute;
        padding-top: 0;
        left: 85% !important;
        margin-top: 80px;
        font-size: 20px;
        color: #fff;
    }
    .welcome .dropdown-menu {
        background-color: #fff !important;
        width: 150px !important;
        /* margin-left: 50%; */
    }
}

@media (max-width: 1302px) {
	/* .menubar-fixed-top {
		height: unset !important;
	} */
	
	.table-h-nav li a {
		/* padding: 10px 5px; */
	}
}

@media (max-width: 1302px) and (min-width: 992px) {
	.menubar-fixed-top {
		height: unset !important;
	}
	
	.table-h-nav li a {
		padding: 10px 15px;
	}
	
	.menu-list {
		width: 100%;
	}
	
	.menu-track {
		width: 100%;
	}
}

@media (max-width: 860px) and (min-width: 767px) {
	.table-h-nav li a {
		/* font-size: 12px; */
	}
}

@media (max-width: 1320px) and (min-width: 992px) {
	.dashboard-box-menu-row-gap .col-md-2 {
		width: 33.33333333333333%;
	}
}

/* @media (max-width: 1302px) {
	
} */
