html,
body {
    height: 100%;
    /* font-family: 'Alegreya Sans', sans-serif; */
   	/* changes */
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

.btn {
    font-size: 16px;
    background-color: #3184a1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-bg {
    border-bottom: 1px solid #dedede;
}

/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.myshipment-top-nav {
    background: #252525;
    padding: 7px 0;
}

nav img {
    margin-top: -10px;
    text-align: center;
}

.myshipment-nav-wrapper {
    padding: 0 55px;
}

.navbar-nav {
    float: right;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: #34c6d3;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/*naquib*/
.nav>li>a:hover, .nav>li>a:active {
    color: #444;
    background: transparent;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 5px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

ul.navbar-nav>li.active>a {
    color: #34c6d3;
}

ul.navbar-nav>li.active>a.child-0 {
    color: #fff;
}


h2 {
    text-transform: uppercase;
}

h1,
h4,
h5 {
    padding-bottom: 15px;
}


/*****************************
           HEADER
*****************************/

input {
    font-family: sans-serif;
}

#header {
    padding: 4rem 0;
    background: url('../img/Login-background-23.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-row-1 {
    padding-left: 50px;
}


.second-img {
    display: none;
}

#header p {
    text-align: justify;
    padding-right: 20px;
}

#header input {
    font-size: 16px;
}

#header .header-right,
#track-shipment .track {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.header-right {
    margin-bottom: 30px;
}

#header .fa {
    margin: 5% 0;
    float: right;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

#header a .fa {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #fff;
    
}

#header a .fa:hover {
    color: #ccc;
}

.header-row {
    margin-top: 150px;
}

#header .check {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
    font-size: 16px;
}

.checking {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    padding-top: 10px;
    margin-left: 23px;
    cursor: pointer;
}

input[type=checkbox] {
    vertical-align: -14px;
}

#header h2 {
    margin-top: 40px;
    font-size: 34px;
}

#header h4 {
    padding-bottom: 10px;
    font-size: 22px;
}

.incorrect-u-p {
    display: none;
    font-style: italic;
    color: yellow;
}

.incorrect-u-p:before {
    content: "**";
    color: red
}

.drop span {
    vertical-align: top;
    padding-right: 10px;
}

.drop .fa {
    margin-top: -6px;
}

.my {
    font-size: 30px;
}

.shipment {
    color: #26acf5;
}

.content-title-underline-body {
    width: 50px;
    height: 2px;
    background-color: #34c6d3;
    margin: 0 auto 20px auto;
}


/*****************************
           ORDER
*****************************/

#order h2 {
    text-align: center;
    font-size: 32px;
}

#order h4 {
    text-align: center;
    font-size: 24px;
}

#order {
    padding: 5rem 0;
    background-color: #fff;
}

.order-lg {
    margin-top: 30px;
}

.order-img {
    text-align: center;
}

.order-p {
    text-align: center;
    font-size: 16px;
}

.order-lg p {
    font-size: 16px;
}

#track-form {
    background: url('../img/track-bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 25px 15px 35px;
    border-radius: 10px;
}

#track-form h4 {
    color: #fff;
}

#track-shipment {
    display: none;
    width: 100%;
    height: 100%;
    background: url('../img/Login-background.jpg') center center no-repeat;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden;
}

#track-shipment .track {
    margin-top: 11%;
}

.track p {
    text-align: justify;
}

#track-shipment h3 {
    color: #fff;
    padding: 25px 0 15px;
}

#track-shipment .fa {
    color: #f6f6f6;
    margin-top: 50px;
}


/*****************************
           WHY
*****************************/

#why {
    padding: 5rem 0;
    background-color: #f6f6f6;
}

#why h2 {
    text-align: center;
    font-size: 32px;
}

#why h3 {
    text-align: center;
    font-size: 28px;
}

#why h4 {
    text-align: center;
    font-size: 24px;
}

.why-fa {
    color: #00264b;
    padding: 15px 0;
    text-align: center;
}

#why p {
    font-size: 16px;
    text-align: justify;
}


/*****************************
           SERVICES
*****************************/

#services {
    background: url('../img/Login-background.jpg') center center no-repeat;
    background-size: cover;
    padding: 5rem 0;
    overflow: hidden;
}

#services h2 {
    color: #fff;
    text-align: center;
    font-size: 32px;
}

#services h4 {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

#services hr {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 0;
}

#services .carousel-indicators li {
    background-color: #26acf5;
    /*background-color: #be2835;*/
}

#services .carousel-inner {
    margin-bottom: 50px;
}

#services .carousel-indicators {
    margin-bottom: -50px;
}

.card {
    margin-top: 5px;
    padding-top: 5px;
    background-color: #f6f6f6;
}

#services .card-title {
    font-size: 28px;
    text-align: center;
}

#services .card-text {
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}


/*****************************
           FAQ
*****************************/

#accord {
    padding: 5rem 0;
    background-color: #f6f6f6;
}

#accord h2{
    text-align: center;
    font-size: 32px;
}

#accord h4 {
    text-align: center;
    font-size: 24px;
}


#accord .more-less {
    float: right;
    color: #fff;
}

h4.panel-title {
    font-size: 18px !important;
}

.panel {
    border-color: #00264b;
}

.panel-default>.panel-heading {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #00264b;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.panel-default>.panel-heading:hover {
    background-color: #3ba3c2;
}

.panel-title {
    padding-bottom: 0;
    
}

.panel-heading h4 {
    text-align: left !important;
}

.panel-heading a {
    text-decoration: none;
    color: #fff;
}

.panel-heading a span {
    font-size: 18px !important;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
}

.panel-body h4 {
    font-size: 22px !important;
    text-align: left!important;
}

.panel-body p {
    font-size: 16px;
}

.panel-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}

/*****************************
           APP
*****************************/

#app {
    padding: 5rem 0;
    background: url('../img/testi-bg.png') center center no-repeat;
    background-size: cover;
    color: #fff;
}

#app h2{
    text-align: center;
    font-size: 32px;
}

#app h4 {
    text-align: center;
    font-size: 24px;
}

.app h4 {
    text-align: left !important;
}

.app p {
    font-size: 16px;
}

.app-img {
    vertical-align: inherit !important;
    text-align: center;
}

#app hr {
    border-bottom: 1px solid #fff;
}

#app .fa {
    color: silver;
    font-size: 36px;
}

.height-1 {
    height: 50px;
}

.height-2 {
    height: 30px;
}


/*****************************
           CONTACT
*****************************/

#contact h2{
    text-align: center;
    font-size: 32px;
}

#contact h5 {
    text-align: center;
    font-size: 22px;
}

#contact .form-control {
    line-height: 2;
}

#contact {
    padding: 5rem 0 7rem;
    background-color: #f6f6f6;
}


/*****************************
           FOOTER
*****************************/

#footer {
    /* padding: 1.5rem 0 0.8rem; */
    padding-top: 5px;
    background: url('../../images/topheaderBG.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
}

#footer h4 {
    margin-bottom: 0;
}

#footer h5 {
    padding-bottom: 0;
    font-size: 20px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer .fa {
    padding: 0 5px;
    font-size: 18px;
}

.footer-bottom p {
    margin: 0;
    padding: 10px 0 8px 0;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-follow {
    text-align: center;
}

.footer-follow h5 {
    display: inline-block;
}

.footer-follow ul {
    display: inline-block;
    margin-left: 10px;
}

.footer-copy p{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

.footer-app {
    text-align: center;
    margin-top: 2px;
}

.navbarExcludeDesign {
	border-radius: 0px;
	margin-bottom: 0px;
}

#trackHeaderGo {
    border-radius: 0px !important;
    height: 30px;
    /* border-color: #252525; */
}

.menuPosition {
	position: fixed;
}

.box-myshipment {
    border-top-color: #252525 !important;
}

.not-found {
	color : #fd0d0d;
}

.dashboard-info-box-number {
    display: block;
    font-weight: bold;
    font-size: 28px;
}

.status-badge-green {
	background-color: #00a65a;
}

.status-badge-orange {
	background-color: #d89550;
}



