.container-fluid-booking-update-234903 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-book-update>li.active>a, .nav-book-update>li.active>a:focus, .nav-book-update>li.active>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #007AA7;
    border: 1px solid #007AA7;
    border-radius: 0px !important;
}

.nav-book-update>li>a, .nav-book-update>li>a:focus, .nav-book-update>li>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #999;
    border: 1px solid #EEE;
    border-radius: 0px !important;
}

.tab-book-update {
    border: 0px solid #ddd;
}	

.booking-update-information-header {
	font-size: 16px;
	padding-left: 20px;
	font-weight: bold;
}

#bookingUpdateHeader {
	font-size: 25px;
    font-weight: 500;
}

#bookingUpdateModalHeader {
	font-size: 25px;
    font-weight: 500;
}

#bookingUpdateAddItemModalHeader {
	font-size: 25px;
    font-weight: 500;
}

.booking-update-padding-column {
	padding-top: 15px;
}

.nav-book-update > li > a:hover, .nav-book-update > li > a:active, .nav-book-update > li > a:focus {
    color: #252525;
    background-color: #EEE;
}   
    
.row-no-margin-331932 {
    margin-left: 0px;
    margin-right: 0px;
}

.booking-update-modal-info-header {
	font-size: 16px;
    font-weight: 600;
    color: #007AA7;
}    

.hr-update-modal {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


/* style copied from jsp */

.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default>.panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 14px;
}

.panel-title>a {
	display: block;
	text-decoration: none;
}

.more-less {
	color: #212121;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #EEEEEE;
}

.booking-update1 li {
	float: left;
	border-right: 1px solid black;
}

.message-success {
	color: green;
}

.message-error {
	color: red;
	font-size: 16px;
	font-weight: 600;
}

.table .table-bordered .minimal_cell {
	background: none;
	border-width: 0;
	border: none;
}   