

/* bennar Section CSS */
.header-image{
	padding-top:80px;
}
#bennar{
	position:relative;
}

#bgimage {
	background-image: url(../images/testi-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	overflow: hidden;
	margin-top: 4%;
}
.heading-text{
	padding-top:1s0px;
}
.heading-text .button a i{
    border: 1px solid #585b60;
    padding: 6px 7px;
    color: #585b60;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}



.heading-text .button a:hover i{
    border: 1px solid #fff;
    color: #fff;
}
.heading-text h1{
	color:#fff;
}
p.bannerDescription{
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 65px;
    line-height: 30px;	

}



.scrolldown {
	padding-top: 24px;
}

#bgimage .scroll_btn {
	background: url(../images/scroll.gif) 50% 50% no-repeat rgba(215, 181 ,94, 0);
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	height: 45px;
	margin: 42px auto;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-0-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
	width: 45px;
}

#bgimage .scroll_btn:hover {
	background: url(../images/scroll.gif) 50% 50% no-repeat #26acf5;
	opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-webkit-opacity: .85;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);

}
/* works content */
.works_content{
    padding: 130px 0px 40px 0px;
	overflow:hidden;
}
.single_works_text{
	margin-bottom: 80px;
	transition:.6s;
}
.single_works_text i{
    background: #fff;
    color: #585B60;
    font-size: 30px;
    border: 1px solid #585B60;
    padding: 18px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 10px;             
}

.single_works_text:hover i{
	color:#FF3366;
	border: 1px solid #FF3366;
}



/* works_2 */
#works_2{}

.works_2_content{
	padding:130px 0px;
}
.single_works_2_text{
	margin-bottom:20px;
	overflow:hidden;
	transition:.6s;
}
.single_works_2_text:hover i{
	color:#FF3366;
	border: 1px solid #FF3366;
}
.single_works_2_text i{
    background: #fff;
    color: #585B60;
    font-size: 2.5rem;
    border: 1px solid #585B60;
    border-radius: 50%;
    width: 60px;
    float: left;
    margin-right: 5px;
    text-align: center;
    height: 60px;
    line-height: 60px;
	
}
.text_deatels{
	width:80%;
	float:right;
}

/* Description Section Css */


.right_desc_bottom_text{
	margin-top:50px;
    color: white;
}
.right_single_bottom_text{
	margin-bottom:25px;
	overflow:hidden;
    color: white;
}

.right_single_bottom_text i {
	font-size:35px;
	color:#FF3366;
	float:left;
	width: 35px;
}

.right_bottom_description{
    padding-left: 10px;
    overflow: hidden;
}

/* Description Second Section Css */
.second_bottom_text{
	margin-top: 70px;
}

.second_single_text{
	margin-bottom: 20px;
}
.second_single_text i{
	font-size:35px;
	color:#FF3366;
	float:left;
}

