<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>PO Generation Email Template</title>
<meta name="description" content="HTML5 template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  <link rel="stylesheet" type="text/css" media="all"	href="css/bootstrap.min.css" /> -->
</head>
<body>
	<section>
		<div style="margin: 0 auto; height: auto;">
			<img th:src="|cid:${headerLogoName}|">

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<!-- <img src="images/Email-Logo.png" style="width: 100%; height:auto;" th:src="|cid:${headerLogoName}|"> -->
						<div class="jumbotron"
							style="margin-top: 5px;" >
							<p style="font-size: 16px;">Dear Sir/Madam,</p>
							<p style="font-size: 16px;">
								New Purchase Order has been generated for your shipment<span
									th:text="${hblNumber}">34324234</span>.<br> Please log
								into <a href="http://www.myshipment.com"
									style="text-decoration: none">myshipment</a> to continue
								 your booking.<br> <br> Regards,<br>
								Myshipment Team.
							</p>
						</div>
					</div>
				</div>
				
				<div class="row"></div>
				
				<div class="row">
					<div class="col-md-12">
						<p class="lead text-muted" style="font-size: 12px;">
							This e-mail was sent from auto-notification system, please do not
							reply to this message. For further information, log into <a
								href="http://www.myshipment.com" style="text-decoration: none">myshipment</a>
							or contact your respective CRM.
						</p>
					</div>
				</div>
			</div>
			<!-- footer -->
			<div style="text-align: center;">
				<p>&copy; myshipment.com - All Rights Reserved</p>
			</div>
		</div>
	</section>

</body>
</html>